/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* stylesheets */

@import url(../components/alert/alert.css);
@import url(../components/avatar/avatar.css);
@import url(../components/badge/badge.css);
@import url(../components/card/card.css);
@import url(../components/images/images.css);
@import url(../components/input/input.css);
@import url(../components/button/button.css);
@import url(../components/lists/lists.css);
@import url(../components/toasts/toasts.css);
@import url(../components/ratings/ratings.css);
@import url(../components/modal/modal.css);
@import url(../components/slider/slider.css);
@import url(../components/navigation/navigation.css);
@import url(../components/grids/grids.css);
@import url(./utils.css);
@import url(../../website-docs/stylesheet/index.css);

/* reset css */

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Roboto", sans-serif;
}

/* global selectors */

html {
  scroll-behavior: smooth;
  background-color: var(--color-background-400);
}

a {
  text-decoration: none;
}

img {
  object-fit: cover;
}

span {
  margin-right: 0.4rem;
}

i,
a,
button {
  cursor: pointer;
}

/* global classes */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.active-link {
  color: var(--color-secondary-400);
  font-weight: 700;
  background-color: var(--color-secondary-200);
  border-left: 2px solid var(--color-secondary-400);
  border-radius: 5px;
  font-size: 1.1rem;
}

.list-style-none {
  list-style-type: none;
}

.round-pill {
  border-radius: 50px;
}
