/* navigation */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 1rem;
  background-color: var(--white-variant);
  /* border-bottom: 2px solid var(--primary);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
}

.nav-logo {
  height: 60px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links li {
  padding-right: 1rem;
  font-weight: bold;
  font-size: 1rem;
}

.nav-links li a {
  color: var(--primary);
}

.nav-links li a:hover {
  color: var(--secondary-dark-variant);
}

.social-media-links {
  display: flex;
  width: 100px;
  justify-content: space-evenly;
}

.social-media-links i:hover {
  color: var(--secondary-dark-variant);
}

/* landing page */

.hero-container {
  text-align: center;
  padding: 7rem;
}

.installation-container {
  background-color: var(--white-variant);
}

/* footer */
.footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary);
  color: var(--white);
}

/* code-snippets */
.code-snippets {
  width: 800px;
  height: 100px;
  border: 1px solid var(--secondary-dark-variant);
}

.code-snippets-installation {
  width: 710px;
  height: 100px;
  border: 1px solid var(--secondary-dark-variant);
  border-radius: 5px;
}
