/* navigation */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 1rem;
  background-color: var(--white-variant);
}

.nav-logo {
  height: 60px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links li {
  padding-right: 1rem;
  font-weight: bold;
  font-size: 1rem;
}

.nav-links li a {
  color: var(--primary);
}

.nav-links li a:hover {
  color: var(--secondary-dark-variant);
}

.social-media-links {
  display: flex;
  width: 100px;
  justify-content: space-evenly;
}

.social-media-links i:hover {
  color: var(--secondary-dark-variant);
}

/* landing page */

.hero-container {
  text-align: center;
  padding: 7rem;
}

.installation-container {
  background-color: var(--white-variant);
}

/* footer */
.footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary);
  color: var(--white);
}

/* documentation */

.docs-container {
  display: flex;
  gap: 2rem;
  padding: 0.5rem;
}

.docs-sub-container {
  display: flex;
  flex-direction: column;
}

/* aside */

.docs-aside {
  width: 20%;
  padding: 1.5rem;
  background-color: var(--white-variant);
}

.docs-link {
  color: var(--primary);
  padding-bottom: 1rem;
}

.docs-link:hover {
  color: var(--secondary-dark-variant);
}

.horizontal-div {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(
    to right,
    var(--secondary-dark-variant),
    var(--secondary),
    var(--secondary-dark-variant)
  );
  margin: 0.5rem 0 1.5rem 0;
}

/* components */

.components {
  width: 100%;
  overflow-y: scroll;
  max-height: 100vh;
  padding-right: 2rem;
}
