<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plan it, Use it | Alert</title>
    <link rel="stylesheet" href="../styles/styles.css" />
    <link rel="stylesheet" href="../index.css" />
  </head>
  <body>
    <h1>Alert component</h1>
    <hr />
    <h2>Simple alert</h2>
    <div class="alert info">This is a primary Alert - Check it now!</div>
    <div class="alert warning">This is a warning Alert - Check it now!</div>
    <div class="alert success">This is a success Alert - Check it now!</div>
    <div class="alert error">This is a failure Alert - Check it now!</div>
    <hr />
    <h2>Outline alert</h2>
    <div class="alert outline-info">
      This is a primary Alert - Check it now!
    </div>
    <div class="alert outline-warning">
      This is a warning Alert - Check it now!
    </div>
    <div class="alert outline-success">
      This is a success Alert - Check it now!
    </div>
    <div class="alert outline-error">
      This is a failure Alert - Check it now!
    </div>
    <hr />
    <h2>Icon alert</h2>
    <div class="alert info">
      <span>
        <i class="fas fa-info"></i>
      </span>
      This is a primary Alert - Check it now!
    </div>
    <div class="alert warning">
      <span>
        <i class="fas fa-exclamation-triangle"></i>
      </span>
      This is a warning Alert - Check it now!
    </div>
    <div class="alert outline-success">
      <span><i class="fas fa-check-circle"></i></span>
      This is a success Alert - Check it now!
    </div>
    <div class="alert outline-error">
      <span><i class="fas fa-times-circle"></i></span>
      This is a failure Alert - Check it now!
    </div>
    <!-- font awesome icons-->
    <script
      src="https://kit.fontawesome.com/692dfd03ca.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
