<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plan it, Use it | Badge</title>
    <link rel="stylesheet" href="../styles/styles.css" />
    <link rel="stylesheet" href="../index.css" />
  </head>
  <body>
    <h1>Badge component</h1>
    <hr />
    <h2>Status Badge</h2>
    <div class="container">
      <div class="badge-container">
        <img
          src="../images/profile-1.png"
          alt="profile-photo"
          class="avatar avatar-sm"
        />
        <div class="badge success"></div>
      </div>
      <div class="badge-container">
        <img src="../images/profile-2.png" alt="profile-photo" class="avatar" />
        <div class="badge success"></div>
      </div>
      <div class="badge-container">
        <img
          src="../images/profile-3.png"
          alt="profile-photo"
          class="avatar avatar-md"
        />
        <div class="badge offline"></div>
      </div>
      <div class="badge-container">
        <img
          src="../images/profile-4.png"
          alt="profile-photo"
          class="avatar avatar-lg"
        />
        <div class="badge error"></div>
      </div>
    </div>
    <hr />
    <h2>Icon Badge</h2>
    <div class="container">
      <div class="badge-container">
        <div><i class="fas fa-folder fa-3x"></i></div>
        <div class="badge-icon success">6</div>
      </div>

      <div class="badge-container">
        <div><i class="fas fa-bell fa-2x"></i></div>
        <div class="badge-icon offline">18</div>
      </div>

      <div class="badge-container">
        <div><i class="fas fa-home fa-2x"></i></div>
        <div class="badge-icon error">99+</div>
      </div>

      <div class="badge-container">
        <div><i class="fas fa-home fa-3x"></i></div>
        <div class="badge-icon success">522</div>
      </div>
    </div>
    <hr />
    <h2>Text Badge</h2>

    <h2>
      Example of Heading with Badge
      <span class="badge-text primary">New</span>
    </h2>

    <h3>
      Example of Heading with Badge
      <span class="badge-text secondary badge-round-pill">New</span>
    </h3>

    <p>
      Example of paragraph with Badge
      <span class="badge-text secondary">New</span>
    </p>
    <!-- font awesome icons -->
    <script
      src="https://kit.fontawesome.com/692dfd03ca.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
