<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plan it, Use it | Button</title>
    <link rel="stylesheet" href="../styles/main.css" />
  </head>
  <body>
    <h1>Button component</h1>
    <hr />
    <h2>Contained button</h2>
    <div class="container">
      <button class="btn">default</button>
      <button class="btn info">primary</button>
      <button class="btn secondary">secondary</button>
      <button class="btn error">error</button>
      <button class="btn success">success</button>
      <button class="btn light">light</button>
      <button class="btn dark">dark</button>
    </div>
    <h2>Outline button</h2>
    <div class="container">
      <button class="btn outline">default</button>
      <button class="btn outline-info">primary</button>
      <button class="btn outline-secondary">secondary</button>
      <button class="btn outline-error">error</button>
      <button class="btn outline-success">success</button>
      <button class="btn outline-light">light</button>
      <button class="btn outline-dark">dark</button>
    </div>
    <h2>Link button</h2>
    <div class="container">
      <button class="btn btn-link-light">
        <a href="#">link</a>
      </button>
      <button class="btn btn-link-dark info">
        <a href="#">link</a>
      </button>
    </div>
    <h2>Text button</h2>
    <div class="container">
      <button class="btn btn-text-primary">primary</button>
      <button class="btn btn-text-secondary">secondary</button>
    </div>
    <h2>Icon button</h2>
    <div class="container">
      <button class="btn">
        <span><i class="fas fa-save"></i></span>save
      </button>
      <button class="btn secondary">
        <span><i class="fas fa-share"></i></span>share
      </button>
      <button class="btn outline-warning">
        <span><i class="fas fa-shopping-cart"></i></span>add to cart
      </button>
      <button class="btn outline-error">
        <span><i class="fas fa-trash-alt"></i></span>delete
      </button>

      <button class="btn info">
        <i class="fas fa-save"></i>
      </button>
      <button class="btn light">
        <i class="fas fa-share"></i>
      </button>
      <button class="btn outline-dark">
        <i class="fas fa-shopping-cart"></i>
      </button>
      <button class="btn outline-error">
        <i class="fas fa-trash-alt"></i>
      </button>
    </div>
    <h2>Floating Action Button</h2>
    <div class="container">
      <div class="badge-container">
        <button class="btn outline btn-float">
          <i class="fas fa-search"></i>
        </button>
      </div>
      <div class="badge-container">
        <button class="btn warning btn-float">
          <i class="fas fa-plus"></i>
        </button>
      </div>
      <div class="badge-container">
        <button class="btn outline-secondary btn-float">
          <i class="fas fa-arrow-up"></i>
        </button>
      </div>
      <div class="badge-container">
        <button class="btn secondary btn-float">
          <i class="fas fa-arrow-down"></i>
        </button>
      </div>
    </div>
    <h2>Different Button Sizes</h2>
    <div class="container">
      <button class="btn btn-sm">primary</button>
      <button class="btn">primary</button>
      <button class="btn btn-md">primary</button>
      <button class="btn btn-lg">primary</button>
    </div>
    <!-- font awesome icons-->
    <script
      src="https://kit.fontawesome.com/692dfd03ca.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
