<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plan it, Use it | Card</title>
    <link rel="stylesheet" href="../styles/styles.css" />
    <link rel="stylesheet" href="../index.css" />
  </head>
  <body>
    <h1>Card components</h1>
    <h2>vertical cards</h2>
    <div class="container">
      <div class="card-container-vertical">
        <div class="badge-text primary card-badge">New</div>
        <div class="card-icon"><i class="fas fa-heart fa"></i></div>
        <img
          src="https://images.unsplash.com/photo-1594171334348-47faf56d8501?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80"
          alt="card-img"
          class="img-responsive"
        />
        <div class="card-body">
          <div>Notebook</div>
          <div class="text-2xl">Single ruled - Office Notebook</div>
          <div class="card-price">
            <span class="text-xl"> Rs. 490 </span>
            <span class="price-before"> Rs. 1299 </span>
            <span class="discount"> (62% OFF) </span>
          </div>

          <button class="btn">
            <span><i class="fas fa-shopping-cart"></i></span>add to cart
          </button>
        </div>
      </div>

      <div class="card-container-vertical">
        <div class="badge-text primary card-badge">New</div>
        <div class="card-icon"><i class="fas fa-heart fa"></i></div>
        <img
          src="https://images.unsplash.com/photo-1594171334348-47faf56d8501?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80"
          alt="card-img"
          class="img-responsive"
        />
        <div class="card-body">
          <div>Notebook</div>
          <div class="text-2xl">Single ruled - Office Notebook</div>
          <div class="card-price">
            <span class="text-xl"> Rs. 490 </span>
            <span class="price-before"> Rs. 1299 </span>
            <span class="discount"> (62% OFF) </span>
          </div>
          <button class="btn">
            <span><i class="fas fa-shopping-cart"></i></span>add to cart
          </button>
        </div>
      </div>

      <div class="card-container-vertical">
        <div class="badge-text primary card-badge">New</div>
        <div class="card-icon"><i class="fas fa-heart fa"></i></div>
        <img
          src="https://images.unsplash.com/photo-1594171334348-47faf56d8501?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80"
          alt="card-img"
          class="img-responsive"
        />
        <div class="card-body">
          <div>Notebook</div>
          <div class="text-2xl">Single ruled - Office Notebook</div>
          <div class="card-price">
            <span class="text-xl"> Rs. 490 </span>
            <span class="price-before"> Rs. 1299 </span>
            <span class="discount"> (62% OFF) </span>
          </div>
          <button class="btn">
            <span><i class="fas fa-shopping-cart"></i></span>add to cart
          </button>
        </div>
      </div>
    </div>
    <h2>horizontal cards</h2>
    <div class="container">
      <div class="card-container-horizontal">
        <div class="badge-text primary card-badge">New</div>
        <div class="card-icon"><i class="fas fa-heart fa"></i></div>
        <img
          src="https://images.unsplash.com/photo-1594171334348-47faf56d8501?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80"
          alt="card-img"
          class="img-responsive"
        />
        <div class="card-horizontal-section">
          <div>Notebook</div>
          <div class="text-2xl">Single ruled - Office Notebook</div>
          <div class="text-sm">Sold by: Lorem, ipsum dolor.</div>
          <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum
            voluptatibus esse debitis.
          </div>
          <div class="card-price">
            <span class="text-xl"> Rs. 490 </span>
            <span class="price-before"> Rs. 1299 </span>
            <span class="discount"> (62% OFF) </span>
          </div>
          <div>
            <button class="btn">
              <span><i class="fas fa-shopping-cart"></i></span>add to cart
            </button>
            <button class="btn outline-secondary">Move to wishlist</button>
          </div>
        </div>
      </div>
      <div class="card-container-horizontal">
        <div class="badge-text primary card-badge">New</div>
        <div class="card-icon"><i class="fas fa-heart fa"></i></div>
        <img
          src="https://images.unsplash.com/photo-1594171334348-47faf56d8501?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80"
          alt="card-img"
          class="img-responsive"
        />
        <div class="card-horizontal-section">
          <div>Notebook</div>
          <div class="text-2xl">Single ruled - Office Notebook</div>
          <div class="text-sm">Sold by: Lorem, ipsum dolor.</div>
          <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum
            voluptatibus esse debitis.
          </div>
          <div class="card-price">
            <span class="text-xl"> Rs. 490 </span>
            <span class="price-before"> Rs. 1299 </span>
            <span class="discount"> (62% OFF) </span>
          </div>
          <div>
            <button class="btn">
              <span><i class="fas fa-shopping-cart"></i></span>add to cart
            </button>
            <button class="btn outline-secondary">Move to wishlist</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-container-horizontal">
      <div class="badge-text primary card-badge">New</div>
      <div class="card-icon"><i class="fas fa-heart fa"></i></div>
      <img
        src="https://images.unsplash.com/photo-1594171334348-47faf56d8501?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80"
        alt="card-img"
        class="img-responsive"
      />
      <div class="card-horizontal-section">
        <div>Notebook</div>
        <div class="text-2xl">Single ruled - Office Notebook</div>
        <div class="text-sm">Sold by: Lorem, ipsum dolor.</div>
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum
          voluptatibus esse debitis.
        </div>
        <div class="card-price">
          <span class="text-xl"> Rs. 490 </span>
          <span class="price-before"> Rs. 1299 </span>
          <span class="discount"> (62% OFF) </span>
        </div>
        <div>
          <button class="btn">
            <span><i class="fas fa-shopping-cart"></i></span>add to cart
          </button>
          <button class="btn outline-secondary">Move to wishlist</button>
        </div>
      </div>
    </div>
    <h2>Card with shadow</h2>
    <div class="container">
      <div class="card-shadow card-container-vertical">
        <div class="badge-text primary card-badge">New</div>
        <div class="card-icon"><i class="fas fa-heart fa"></i></div>
        <img
          src="https://images.unsplash.com/photo-1594171334348-47faf56d8501?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80"
          alt="card-img"
          class="img-responsive"
        />
        <div class="card-body">
          <div>Notebook</div>
          <div class="text-2xl">Single ruled - Office Notebook</div>
          <div class="card-price">
            <span class="text-xl"> Rs. 490 </span>
            <span class="price-before"> Rs. 1299 </span>
            <span class="discount"> (62% OFF) </span>
          </div>
          <button class="btn">
            <span><i class="fas fa-shopping-cart"></i></span>add to cart
          </button>
        </div>
      </div>
      <div class="card-shadow card-container-horizontal">
        <div class="badge-text primary card-badge">New</div>
        <div class="card-icon"><i class="fas fa-heart fa"></i></div>
        <img
          src="https://images.unsplash.com/photo-1594171334348-47faf56d8501?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80"
          alt="card-img"
          class="img-responsive"
        />
        <div class="card-horizontal-section">
          <div>Notebook</div>
          <div class="text-2xl">Single ruled - Office Notebook</div>
          <div class="text-sm">Sold by: Lorem, ipsum dolor.</div>
          <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum
            voluptatibus esse debitis.
          </div>
          <div class="card-price">
            <span class="text-xl"> Rs. 490 </span>
            <span class="price-before"> Rs. 1299 </span>
            <span class="discount"> (62% OFF) </span>
          </div>
          <div>
            <button class="btn">
              <span><i class="fas fa-shopping-cart"></i></span>add to cart
            </button>
            <button class="btn outline-secondary">Move to wishlist</button>
          </div>
        </div>
      </div>
    </div>
    <h2>Text only cards</h2>
    <div class="card-text">
      <div class="text-3xl">card title</div>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi sapiente
      rem aliquam expedita placeat consequuntur sequi officia. Odit labore
      ipsam, explicabo qui vero maiores et ex beatae fuga non, necessitatibus a
      quas molestiae dicta voluptates. Culpa, unde! Quisquam quidem doloribus
      enim ipsam non cum aperiam temporibus, porro, repellendus voluptates nisi.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure soluta velit
      consequatur in voluptas fugit sunt voluptate, quae molestias labore? Atque
      mollitia sed veritatis, quo, facilis voluptatem consequatur natus
      cupiditate officiis incidunt illo accusantium a ab repellat non tenetur
      ullam perspiciatis voluptate reiciendis. Nesciunt quis perspiciatis nobis
      officiis quam, inventore ipsum ratione ex, dolor obcaecati sequi
    </div>
    <h2>Cards with dismiss</h2>
    <div class="container">
      <div class="card-container-vertical">
        <div class="badge-text primary card-badge">New</div>
        <div class="card-icon"><i class="fas fa-times fa-2x"></i></div>
        <img
          src="https://images.unsplash.com/photo-1594171334348-47faf56d8501?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80"
          alt="card-img"
          class="img-responsive"
        />
        <div class="card-body">
          <div>Notebook</div>
          <div class="text-2xl">Single ruled - Office Notebook</div>
          <div class="card-price">
            <span class="text-xl"> Rs. 490 </span>
            <span class="price-before"> Rs. 1299 </span>
            <span class="discount"> (62% OFF) </span>
          </div>
          <button class="btn">
            <span><i class="fas fa-shopping-cart"></i></span>add to cart
          </button>
        </div>
      </div>
      <div class="card-container-horizontal">
        <div class="badge-text primary card-badge">New</div>
        <div class="card-icon"><i class="fas fa-times fa-2x"></i></div>
        <img
          src="https://images.unsplash.com/photo-1594171334348-47faf56d8501?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80"
          alt="card-img"
          class="img-responsive"
        />
        <div class="card-horizontal-section">
          <div>Notebook</div>
          <div class="text-2xl">Single ruled - Office Notebook</div>
          <div class="text-sm">Sold by: Lorem, ipsum dolor.</div>
          <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum
            voluptatibus esse debitis.
          </div>
          <div class="card-price">
            <span class="text-xl"> Rs. 490 </span>
            <span class="price-before"> Rs. 1299 </span>
            <span class="discount"> (62% OFF) </span>
          </div>
          <div>
            <button class="btn">
              <span><i class="fas fa-shopping-cart"></i></span>add to cart
            </button>
            <button class="btn outline-secondary">Move to wishlist</button>
          </div>
        </div>
      </div>
    </div>
    <h2>Cards with text overlay</h2>
    <div class="container">
      <div class="card-container-vertical">
        <div class="card-overlay">
          <div class="card-overlay-text text-3xl">Out of stock</div>
          <div class="badge-text primary card-badge">New</div>
          <div class="card-icon"><i class="fas fa-times fa-2x"></i></div>
          <img
            src="https://images.unsplash.com/photo-1594171334348-47faf56d8501?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80"
            alt="card-img"
            class="img-responsive"
          />
          <div class="card-body">
            <div>Notebook</div>
            <div class="text-2xl">Single ruled - Office Notebook</div>
            <div class="card-price">
              <span class="text-xl"> Rs. 490 </span>
              <span class="price-before"> Rs. 1299 </span>
              <span class="discount"> (62% OFF) </span>
            </div>
            <button class="btn">
              <span><i class="fas fa-shopping-cart"></i></span>add to cart
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- font awesome icons-->
    <script
      src="https://kit.fontawesome.com/692dfd03ca.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
