<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plan it, Use it | Image</title>
    <link rel="stylesheet" href="../styles/styles.css" />
    <link rel="stylesheet" href="../index.css" />
  </head>
  <body>
    <h1>Responsive image component</h1>

    <p>Note : Resize the browser window, to see the responsive property.</p>
    <h2>Round image</h2>
    <div class="img-container">
      <img
        src="https://images.unsplash.com/photo-1603975711481-18b7aaca4caa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1160&q=80"
        alt="img-responsive-round"
        class="img-responsive img-round"
      />
    </div>
    <h2>Default image</h2>
    <div class="img-container">
      <img
        src="https://images.unsplash.com/photo-1527219525722-f9767a7f2884?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1473&q=80"
        alt="img-responsive"
        class="img-responsive"
      />
    </div>
  </body>
</html>
