<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plan it, Use it | Input</title>
    <link rel="stylesheet" href="../styles/styles.css" />
    <link rel="stylesheet" href="../index.css" />
  </head>
  <body>
    <h1>Input components</h1>
    <div class="input-container">
      <div class="input-text-group">
        <label>Username *</label>
        <input type="text" placeholder="Enter username" />
      </div>
      <div class="input-text-group">
        <label class="text-error">Password *</label>
        <input
          type="password"
          placeholder="Enter username"
          class="input-error"
        />
        <span class="text-error">Wrong Password. Try again.</span>
      </div>
    </div>
  </body>
</html>
