.alert {
  padding: 1rem;
  margin: 1rem;
  border-radius: 5px;
  display: flex;
  background-color: var(--info);
  color: var(--moderate);
}

.alert-dismiss {
  display: flex;
  justify-content: space-between;
}

.alert-border-left {
  border-left: 3px solid var(--primary);
}