.avatar {
  border-radius: 50%;
  margin: 0.5rem;
  height: 50px;
  width: 50px;
}

.avatar-sm {
  height: 40px;
  width: 40px;
}

.avatar-md {
  height: 80px;
  width: 80px;
}

.avatar-lg {
  height: 120px;
  width: 120px;
}

.avatar-variant {
  padding: 0.5rem;
  background-color: var(--light-variant);
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-sq {
  border-radius: 5px;
}

.avatar-text-wrapper {
  border: 1px solid var(--background-variant);
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}