/* button classes */

/* btn */
.btn {
  border: none;
  padding: 0.75rem 1rem;
  margin: 0.5rem;
  text-transform: uppercase;
  cursor: pointer;
  background-color: var(--primary);
  color: var(--white);
  font-size: 1rem;
  font-weight: 500;
}

.btn:hover {
  box-shadow: var(--btn-shadow);
  background-color: var(--primary-dark-variant);
}

/* btn link */
.btn-link a {
  color: var(--white);
}

/* btn text */
.btn-text-primary {
  background-color: var(--background);
  color: var(--primary);
}

.btn-text-secondary {
  background-color: var(--background);
  color: var(--secondary);
}

.btn.btn-text-primary:hover {
  background-color: var(--primary);
  color: var(--white);
}

.btn.btn-text-secondary:hover {
  background-color: var(--secondary);
  color: var(--white);
}

/* btn contained */
.btn.secondary:hover {
  background-color: var(--secondary-dark-variant);
}

.btn.error:hover {
  background-color: var(--error-variant);
}

.btn.success:hover {
  background-color: var(--success-variant);
}

.btn.warning:hover {
  background-color: var(--warning-variant);
  color: var(--white);
}

/* btn outline */
.btn.outline:hover {
  background-color: var(--primary);
  color: var(--white);
}

.btn.outline-secondary:hover {
  background-color: var(--secondary);
  color: var(--white);
}

.btn.outline-error:hover {
  background-color: var(--error);
  color: var(--white);
}

.btn.outline-success:hover {
  background-color: var(--success);
  color: var(--white);
}

.btn.outline-warning:hover {
  background-color: var(--warning);
  color: var(--moderate);
}

/* btn float */
.btn-float {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}

/* btn sizes */
.btn-sm {
  font-size: 1rem;
  padding: 0.5rem;
}

.btn-md {
  font-size: 1rem;
  padding: 1rem 1.2rem;
}

@media (max-width: 480px) {

  .btn-sm {
    font-size: 0.6rem;
    padding: 0.4rem;
  }

}