.card-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-badge {
  position: absolute;
  left: -0.2rem;
  top: 1.2rem;
}

.icon-container {
  position: relative;
}

.card-icon {
  position: absolute;
  cursor: pointer;
  color: var(--primary);
  background-color: var(--background);
  border-radius: 50%;
  padding: 0.3rem;
  right: 0;
  top: 1rem;
}

.card-icon img {
  height: 3vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-img {
  height: 200px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

.price-before {
  text-decoration: line-through;
}

/* vertical card */

.card-container-vertical {
  position: relative;
  background-color: var(--background);
  margin: 1rem;
}

.card-vertical-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0.7rem;
}

/* horizontal card */

.card-container-horizontal {
  position: relative;
  background-color: var(--background);
  margin: 1rem;
  padding: 1rem;
  display: flex;
}

.card-horizontal-img {
  height: 200px;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.card-horizontal-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 0.7rem;
}

.card-shadow {
  box-shadow: var(--card-shadow)
}

.card-text {
  background-color: var(--white-variant);
  margin: 1rem;
  padding: 1rem;
  max-width: 30%;
}

.card-dismiss-icon {
  position: absolute;
  cursor: pointer;
  right: 1rem;
  top: 1rem;
}

.card-overlay {
  position: relative;
}

.card-overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--white-variant);
  background-color: var(--card-overlay-text-bg-color);
  padding: 1rem;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* media queries */

@media (max-width: 950px) {
  .card-overlay-text {
    top: 35%;
  }
}

@media (max-width: 550px) {

  .card-img {
    height: 150px;
  }

  .card-horizontal-img {
    height: 180px;
  }

  .card-desc {
    display: none;
  }
}

@media (max-width: 480px) {

  .card-horizontal-img {
    height: 140px;
  }

}