.card-container-vertical {
  width: 250px;
  position: relative;
  background-color: var(--white-variant);
  border: 2px solid var(--background);
  margin: 1rem;
}

.card-container-horizontal {
  height: 250px;
  position: relative;
  background-color: var(--white-variant);
  border: 2px solid var(--background);
  margin: 1rem;
  display: flex;
}

.card-horizontal-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0.7rem;
}

.card-container-vertical:hover {
  border: 2px solid var(--secondary);
}

.card-container-horizontal:hover {
  border: 2px solid var(--secondary);
}

.card-badge {
  position: absolute;
  left: -0.2rem;
  top: 1rem;
}

.card-icon {
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
}

.card-icon:hover {
  color: var(--secondary-dark-variant);
}

.card-body {
  padding: 0.7rem;
}

.card-price {
  padding: 0.4rem 0;
}

.price-before {
  text-decoration: line-through;
}

.discount {
  color: var(--error);
}

.card-shadow {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.card-text {
  background-color: var(--white-variant);
  border: 2px solid var(--background);
  margin: 1rem;
  padding: 1rem;
  max-width: 400px;
}

.card-text:hover {
  border: 2px solid var(--secondary);
}

.card-overlay {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
  opacity: 60%;
}

.card-overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--primary-dark-variant);
  background-color: var(--white-variant);
  padding: 1rem;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* media query */
@media (max-width: 1205px) {
  .vertical-card-display-third {
    display: none;
  }
}

@media (max-width: 950px) {
  .card-container-vertical {
    width: 200px;
  }
  .card-container-horizontal {
    height: 200px;
  }
  .card-sold-by,
  .card-category-title {
    display: none;
  }
  .card-overlay-text {
    top: 35%;
  }
}

@media (max-width: 875px) {
  .card-container-horizontal {
    height: 170px;
  }
  .card-desc {
    display: none;
  }
}

@media (max-width: 768px) {
  .card-container-horizontal {
    height: 150px;
  }
}

@media (max-width: 580px) {
  .card-container-horizontal,
  .horizontal-card-component-example {
    display: none;
  }
}

@media (max-width: 550px) {
  .vertical-card-display {
    display: none;
  }
  .vertical-card-display-third {
    display: none;
  }
}
