.input-text-group input {
  padding: 0.5rem;
  border: 1px solid var(--primary);
}

.input-text-group input:hover,
.input-text-group input:focus-visible,
.input-text-group input:focus-within,
.input-text-group input:focus {
  border: 1px solid var(--secondary);
}

.input-container {
  width: 50%;
  background-color: var(--background);
  padding: 2rem;
  box-shadow: var(--card-shadow);
}

.input-text-group {
  display: flex;
  flex-direction: column;
}

.input-error {
  border: 1px solid var(--error);
}

.input-error:hover {
  border: 1px solid var(--error-variant);
}

.input-error:focus {
  border: 1px solid var(--error-variant);
}