.label-input {
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px solid var(--primary);
  border-radius: 5px;
}

.label-input:hover,
.label-input:focus {
  border: 1px solid var(--secondary);
}

.input-container {
  width: 50%;
  background-color: var(--background-variant);
  padding: 2rem;
  border-radius: 10px;
}

.input-text-group {
  display: flex;
  flex-direction: column;
}

.input-error {
  border: 1px solid var(--error);
}

.input-error:hover {
  border: 1px solid var(--error-variant);
}

.input-error:focus {
  border: 1px solid var(--error-variant);
}