/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* stylesheets */

@import url(./alert.css);
@import url(./avatar.css);
@import url(./badge.css);
@import url(./card.css);
@import url(./images.css);
@import url(./input.css);
@import url(./button.css);
@import url(./utils.css);
@import url(./lists.css);
@import url(./toasts.css);
@import url(./ratings.css);
@import url(./modal.css);
@import url(./slider.css);
@import url(./navigation.css);
@import url(./grids.css);
@import url(../index.css);

/* reset css */

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
}

/* global selectors */

html {
  scroll-behavior: smooth;
  background-color: var(--background);
}

a {
  text-decoration: none;
}

img {
  object-fit: cover;
}

span {
  margin-right: 0.4rem;
}

i,
a,
button {
  cursor: pointer;
}

/* global classes */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.active-link {
  color: var(--secondary);
  font-weight: 700;
  background-color: var(--secondary-light-variant);
  border-left: 2px solid var(--secondary);
  border-radius: 5px;
  font-size: 1.1rem;
}

.list-style-none {
  list-style-type: none;
}

.round-pill {
  border-radius: 50px;
}