.navigation-container {
  width: 100%;
  height: 50px;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-tools {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-search {
  background-color: var(--white);
  padding: 0.4rem 1rem;
  border-radius: 5px;
  border: 1px solid var(--primary);
  width: 30%;
}

.navigation-search input[type="text"]:focus-visible {
  outline: 1px solid var(--white);
}

.navigation-sidebar-toggle {
  display: none;
  padding: 1rem;
  background: transparent;
}

@media (max-width: 1017px) {
  .navigation-search {
    display: none;
  }
}

@media (max-width: 500px) {
  .navigation-tools {
    display: none;
  }
  .navigation-sidebar-toggle {
    display: block;
  }
}
