.toast {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--background);
  background-color: var(--white-variant);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.toast-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background);
  padding: 0.3rem;
}

.toast-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  width: 30vw;
}

.toast-dir-bottom {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  display: none;
  z-index: 2;
}

.toast-dir-top {
  position: fixed;
  top: 1rem;
  right: 1rem;
  display: none;
  z-index: 2;
}

.show-toast {
  display: block;
}

@media (max-width: 995px) {
  .toast-body {
    width: 40vw;
  }
}

@media (max-width: 768px) {
  .toast-body {
    width: 50vw;
  }
}

@media (max-width: 580px) {
  .toast-body {
    width: 60vw;
  }
}

@media (max-width: 525px) {
  .toast-body {
    width: 70vw;
  }
}
