/* colors */

:root {
  --primary: #15325e;
  /* --primary1: #93c47d; */
  --primary-dark-variant: #001945;
  --primary-light-variant: #94b1dd;
  --secondary: #cbdc29;
  --secondary-dark-variant: #98a900;
  --secondary-light-variant: #ffffa8;
  --accent: #ec4e20;
  --background: #eee2df;
  --light: #cee5f2;
  --light-variant: #9bb2bf;
  --dark: #191a19;
  --dark-variant: #000100;
  --moderate: #5c5d60;
  --moderate-variant: #292a2d;
  --success: #95cd41;
  --success-variant: #629a0e;
  --error: #da1212;
  --error-variant: #a70000;
  --white: #fff;
  --white-variant: #f9fcfb;
  --warning: #ffc600;
  --warning-variant: #cc9300;
  --info: #9ad0ec;
  --info-variant: #679db9;
}

.primary {
  background-color: var(--primary);
  color: var(--white);
}

.secondary {
  background-color: var(--secondary);
  color: var(--white);
}

.success {
  background-color: var(--success);
  color: var(--white);
}

.offline {
  background-color: var(--moderate);
  color: var(--white);
}

.error {
  background-color: var(--error);
  color: var(--white);
}

.warning {
  background-color: var(--warning);
  color: var(--moderate);
}

.info {
  background-color: var(--info);
  color: var(--moderate);
}

.light {
  background-color: var(--light);
  color: var(--moderate);
}

.dark {
  background-color: var(--dark);
  color: var(--light);
}

.outline {
  background-color: var(--white);
  color: var(--primary);
  border: 1px solid var(--primary);
}

.outline-success {
  background-color: var(--white);
  color: var(--success);
  border: 1px solid var(--success);
}

.outline-error {
  background-color: var(--white);
  color: var(--error);
  border: 1px solid var(--error);
}

.outline-warning {
  background-color: var(--white);
  color: var(--warning);
  border: 1px solid var(--warning);
}

.outline-info {
  background-color: var(--white);
  color: var(--info);
  border: 1px solid var(--info);
}

.outline-secondary {
  background-color: var(--white);
  color: var(--secondary-dark-variant);
  border: 1px solid var(--secondary);
}

.outline-light {
  background-color: var(--white);
  color: var(--light);
  border: 1px solid var(--light);
}

.outline-dark {
  background-color: var(--white);
  color: var(--dark);
  border: 1px solid var(--dark);
}

/* text-sizes */

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}
.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.text-xl {
  font-size: 1.2rem;
  line-height: 1.75rem;
}
.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}
.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}
.text-5xl {
  font-size: 3rem;
  line-height: 1;
}

/* line-heights */

.leading-3 {
  line-height: 0.75rem;
}
.leading-4 {
  line-height: 1rem;
}
.leading-5 {
  line-height: 1.25rem;
}
.leading-6 {
  line-height: 1.5rem;
}
.leading-7 {
  line-height: 1.75rem;
}
.leading-8 {
  line-height: 2rem;
}
.leading-9 {
  line-height: 2.25rem;
}
.leading-10 {
  line-height: 2.5rem;
}
.leading-none {
  line-height: 1;
}
.leading-tight {
  line-height: 1.25;
}
.leading-snug {
  line-height: 1.375;
}
.leading-normal {
  line-height: 1.5;
}
.leading-relaxed {
  line-height: 1.625;
}
.leading-loose {
  line-height: 2;
}

/* text color */

.text-error {
  color: var(--error);
}

.text-primary {
  color: var(--primary);
}

.text-primary-variant {
  color: var(--primary-dark-variant);
}

.text-secondary {
  color: var(--secondary-dark-variant);
}

/* displays */

.inline-block {
  display: inline-block;
}

/* padding */

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.p-5px {
  padding: 5px;
}

.p-1 {
  padding: 1rem;
}

.p-5 {
  padding: 5rem;
}

.pb-5px {
  padding-bottom: 5px;
}

.pb-2 {
  padding-bottom: 2rem;
}
