/* colors */

:root {
  --primary: #003459;
  --primary-dark-variant: #001B40;
  --secondary: #2292A4;
  --secondary-dark-variant: #09798B;
  --secondary-light-variant: #2293a42a;
  --background: #f0f2f4;
  --background-variant: #E9ECEF;
  --grey: #dbdedf;
  --light: #cee5f2;
  --light-variant: #9bb2bf;
  --dark: #191a19;
  --dark-variant: #000100;
  --moderate: #5c5d60;
  --moderate-variant: #292a2d;
  --success: #95cd41;
  --success-variant: #629a0e;
  --error: #da1212;
  --error-variant: #a70000;
  --white: #fff;
  --white-variant: #f9fcfb;
  --warning: #ffc600;
  --warning-variant: #cc9300;
  --info: #9ad0ec;
  --info-variant: #679db9;

  /* for specific components */

  --modal-background-color: rgba(0, 0, 0, 0.5);
  --card-overlay-text-bg-color: rgba(0, 0, 0, 0.657);

  /* shadow */

  --shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  --btn-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  --card-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

/* background-colors */

.primary {
  background-color: var(--primary);
  color: var(--white);
}

.secondary {
  background-color: var(--secondary);
  color: var(--white);
}

.success {
  background-color: var(--success);
  color: var(--white);
}

.offline {
  background-color: var(--moderate);
  color: var(--white);
}

.error {
  background-color: var(--error);
  color: var(--white);
}

.warning {
  background-color: var(--warning);
  color: var(--moderate);
}

.bg-light {
  background-color: var(--secondary-light-variant);
}

.outline {
  background-color: var(--background);
  color: var(--primary);
  border: 1px solid var(--primary);
}

.outline-success {
  background-color: var(--background);
  color: var(--success);
  border: 1px solid var(--success);
}

.outline-error {
  background-color: var(--background);
  color: var(--error);
  border: 1px solid var(--error);
}

.outline-warning {
  background-color: var(--background);
  color: var(--warning);
  border: 1px solid var(--warning);
}

.outline-info {
  background-color: var(--background);
  color: var(--info);
  border: 1px solid var(--info);
}

.outline-secondary {
  background-color: var(--background);
  color: var(--secondary);
  border: 1px solid var(--secondary);
}

/* headings */

.h1,
h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 4rem;
}

.h2,
h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
}

.h3,
h3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
}

.h4,
h4 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
}

.h5,
h5 {
  font-size: 0.5rem;
  font-weight: 700;
  line-height: 1rem;
}

/* text-sizes */

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-xl {
  font-size: 1.2rem;
  line-height: 1.75rem;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-5xl {
  font-size: 3rem;
  line-height: 3rem;
}

/* font weights */

.f-light {
  font-weight: 300;
}

.f-regular {
  font-weight: 400;
}

.f-semibold {
  font-weight: 600;
}

.f-bold {
  font-weight: 700;
}

.f-black {
  font-weight: 900;
}

/* text-align */
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

/* text color */

.text-error {
  color: var(--error);
}

.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.text-success {
  color: var(--success);
}

.text-warning {
  color: var(--warning);
}

.text-info {
  color: var(--info);
}

.text-dark {
  color: var(--dark);
}

.text-grey {
  color: var(--moderate);
}

/* text style */

.text-italic {
  font-style: italic;
}

/* displays */

.inline-block {
  display: inline-block;
}

/* padding */

.p-05 {
  padding: 0.5rem;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.p-1 {
  padding: 1rem;
}

.p-5 {
  padding: 5rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pb-05 {
  padding-bottom: 0.5rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

/* margin */

.mt-05 {
  margin-top: 0.5rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mx-1 {
  margin: 0 0.5rem;
}

.m-1 {
  margin: 1rem;
}

/* media queries */

@media (max-width: 875px) {
  .text-5xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .text-2xl {
    font-size: 1.2rem;
    line-height: 1.75rem;
  }

  .text-sm {
    font-size: 0.75rem;
    line-height: 1rem;
  }

  .text-base {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .p-5 {
    padding: 3.5rem;
  }
}

@media (max-width: 768px) {
  .text-5xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .text-2xl {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .p-5 {
    padding: 2rem;
  }

  .text-sm {
    font-size: 0.5rem;
    line-height: 0.5rem;
  }

  .text-base {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}